<<%= @tag %> class="bar">
		<a href="/">
				<img src="<%= relative_url '/images/faucet-logotype-monochrome.svg'%>" alt="back to home" class="logo" width="144" height="35" />
		</a>

		<a href="/impressum">imprint & privacy</a>

		<nav class="iconlist">
				<a href="https://www.npmjs.com/package/faucet-pipeline-core">
						<img src="<%= relative_url '/images/npm.svg'%>" alt="npm" width="24" height="10" />
				</a>
				<a href="https://github.com/faucet-pipeline">
						<img src="<%= relative_url '/images/github.svg'%>" alt="GitHub" width="24" height="33" />
				</a>
		</nav>
</<%= @tag %>>
