<nav class="navigation">
		<ul>
				<li>
						Introduction
						<ul>
								<%== nav_link title: "About faucet", href: "/" %>
								<%== nav_link title: "Motivation & Philosophy", href: "/philosophy/" %>

								<%== nav_link title: "Command-Line Interface", href: "/cli/" %>
								<%== nav_link title: "Fingerprinting & Manifest", href: "/manifest/" %>
								<%== nav_link title: "File Watching", href: "/watching/" %>
								<%== nav_link title: "Frequently Asked Questions", href: "/faq/" %>
						</ul>
				</li>

				<li>
						Asset Types
						<ul>
								<%== nav_link title: "Sass", href: "/sass/" %>
								<%== nav_link title: "CSS (Beta)", href: "/css/" %>
								<%== nav_link title: "JavaScript / TypeScript", href: "/js/" %>
								<%== nav_link title: "Images", href: "/images/" %>
								<%== nav_link title: "Static Files", href: "/static/" %>
								<%== nav_link title: "Build a Pipeline", href: "/build-pipeline/" %>
						</ul>
				</li>

				<li>
						Framework Integration
						<ul>
								<%== nav_link title: "Ruby on Rails", href: "/rails/" %>
								<%== nav_link title: "Spring Boot", href: "/spring-boot/" %>
								<%== nav_link title: "Build an Integration", href: "/build-integration/" %>
						</ul>
				</li>

				<li>
								<%== nav_link title: "Contributing", href: "/contributing/" %>
				</li>
				<li>
								<%== nav_link title: "Imprint & Privacy", href: "/impressum" %>
						</ul>
				</li>
		</ul>
</nav>
